
.MuiCardHeader-title {
    font-size: 10px;
    font-weight: bold;
}

.MuiCard-root {
    border:1px solid #008080;
    background: #008080;
    border-radius: 10px;
}

.MuiCardHeader-root {
    border-bottom: 1px solid #008080;
    max-height: 8px;
    background-color: #008080;
    color: #fff;
}

.MuiCardHeader-content > span {
    /* font-size: 14px;
    font-weight: bold;
    text-align: center; */
}