
div.MuiToolbar-root > div > div > a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
}

div.MuiToolbar-root > div > div > a:hover {
    color: #008080;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    background: #ffffff;
    padding-top:17px;
    padding-bottom:10px;
}